@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #515151;
  color: #f0f4f8;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4ca6f5;
  padding: 15px 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #e0e6ed;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a8c5db;
}

/* ====== JOGO ====== */
.game-section {
  text-align: center;
  padding: 40px 20px;
}

.game-section h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.game-section p {
  color: #ffffff;
  margin-bottom: 25px;
}

#game-info {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #ffffff;
}

/* GRADE DO JOGO */
#memory-game {
  width: 90%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  margin: 0 auto 25px;
  perspective: 1000px;
}

/* CARTAS */
.memory-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #333;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face, .back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Frente (emoji) */
.front-face {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #2e4a62;
  transform: rotateY(180deg);
}

/* Verso (cor FINTEC) */
.back-face {
  background: #333;
}

/* Botão */
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #414141;
}

/* Rodapé */
footer {
  background-color: #4ca6f5;
  text-align: center;
  padding: 15px 0;
  color: #ffffff;
  font-size: 0.9rem;
}
