
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252525; 
    color: #f0f4f8;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4ca6f5; 
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}


.nav-links a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #cce6ff;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #cce6ff; 
}

.nav-links a:hover::after {
    width: 100%;
}


.hero {
    height: 85vh;
    background: linear-gradient(to right, #2e4a62, #1e2a38);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.hero-content p {
    font-size: 1.1rem;
    color: #d0d7de;
    margin-bottom: 30px;
}



footer {
    background-color: #4ca6f5;
    text-align: center;
    padding: 15px 0;
    color: #ffffff;
    font-size: 0.9rem;
}


.banner {
    position: relative;
    width: 100%;
    height: 80vh; 
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(0.6); 
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-text h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.banner-text p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.btn {
    background-color: #4ca6f5;
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #83c0f5;
}
